body {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-indent: 0.5em;

}

@media screen and (max-width:767px) {

    .boxes {
        height: 60vh;
        flex-direction: column;

    }

    .box-set-1 {
        width: 100%;
        height: 40vh;
    }

    .box-set-2 {
        width: 100%;
        height: 20vh;
    }

    .box-set-11 {
        width: 100%;
        height: 50%;
    }

    .box-set-12 {
        width: 100%;
        height: 50%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    .boxes {
        height: 65vh;

    }

    .box-set-1 {
        width: 50%;
        height: 100%;
    }

    .box-set-2 {
        width: 50%;
        height: 100%;
    }

    .box-set-11 {
        width: 75vw;
        height: 50%;
    }

    .box-set-12 {
        width: 75vw;
        height: 50%;
    }
}

@media screen and (min-width:1025px) {

    .boxes {
        height: 65vh;

    }

    .box-set-1 {
        width: 75vw;
        height: 100%;
    }

    .box-set-2 {
        width: 25vw;
        height: 100%;
    }

    .box-set-11 {
        width: 75vw;
        height: 50%;
    }

    .box-set-12 {
        width: 75vw;
        height: 50%;
    }
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 100vw;
    height: 15vh;
    background-color: gray;
}

.footer {
    width: 100vw;
    height: 15vh;
    background-color: gray;
}

.boxes {
    display: flex;
    width: 100%;

}

.box-set-2 {
    background-color: yellow;
}

.box-set-11 {
    background-color: red;
}

.box-set-12 {
    background-color: orange;
}